* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(img/architectural-design-architecture-buildings-city-373893.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container.active {
	filter: blur(5px);
	pointer-events: none;
	user-select: none;
}

.content {
	padding: 30px;
	font-size: 18px;
	text-align: right;
}

a {
	padding: 9px 30px;
	display: inline-block;
	margin-top: 20px;
	background: #111;
	color: #fff;
	text-decoration: none;
	border-radius: 9px;
}

#popup {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding: 40px;
	box-shadow: 0 5px 30px rgba(0,0,0,.3);
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: .5s;
}

#popup.active {
	top: 50%;
	visibility: visible;
	opacity: 1;
	transition: .5s;
}